html {
    margin: 0;
    min-height: 100%;
}

body {
    margin: 0;
}

.border {
    /* border: 2px solid white;*/

}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    filter: brightness(1.2);
    z-index: -2;
}

.headerBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    position: fixed;
    top: 0;
    z-index: 3;
}

.leftBarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 16em;
}

.logoContainer {
    margin: 0.7em 0 0.7em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 8.8em;
    text-decoration: none;
}

.logoHakurei {
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
    width: 5.2em;
    letter-spacing: 0.1em;
}

.logoImageContainer {
    display: flex;
    align-items: center;
}

.logoImage {
    width: 2em;
}

#audioController {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 100%;
}

#audioController:hover {
    filter: brightness(0.8);
}

.rightBarContainer {
    color: white;
    width: 25em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 3em;

}

.separator {
    width: 2.5em;
    height: 2.5em;
    filter: hue-rotate(140deg);
}

.about, .characters, .music, .contact {
    font-size: 1.1em;
}

.layer1 {
    
}

.layer1Bg {
    width: 90%;
    height: 100%;
    border-radius: 1.5em;
    margin: 9em auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 2em rgb(68, 68, 68);
}

.layer1Left {
    color: white;
    margin: 3em 2em 3em 5em;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.greetings {
    font-size: 2.5em;
    text-shadow: 0 0 0.8em rgb(255, 255, 255);
    text-align: center;
}

.description {
    margin-top: 1em;
    font-size: 1.1em;
    line-height: 1.4em;
    text-align: justify;
}

.donateNowContainer {
    margin-top: 3em;
}

.donateNow {
    color: white;
    border: 0.2em solid white;
    border-radius: 2em;
    width: 10em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 1.2em;
    text-decoration: none;
    background:rgba(190, 26, 26, 0.5);

}

.donateNow:hover {
    transition: 0.3s;
    transform: translateY(-3%);
    background:rgba(221, 55, 49, 0.8);
    box-shadow: 0 0 0.6em white;
    
}

.layer1Right {
    width: 45em;
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layer1Image {
    width: 80%;
    box-shadow: 0em 0em 1em rgb(182, 182, 182);
}

.layer1Caption {
    color: white;
    margin-top: 0.5em;
    font-size: 1.1em;
}

.layer1ImageSource {
    color: white;
    font-size: 0.9em;

}

.layer2 {
    margin-bottom: 9em;
}

.layer2Bg {
    background-image: linear-gradient(rgb(105, 14, 14),rgb(56, 9, 9));
    margin-top: 18em;
}

.layer2Content {
    padding-top: 1em;
    /*
    I'm sorry Sakuya I said the P-word plz don't stab me
    */
}

.layer2Heading {
    font-size: 2em;
    text-align: center;
    color: white;
    margin: 0.5em 1em 1.5em 1em;
    font-family: "hakugyokurou";
    letter-spacing: 0.07em;
}

.layer2InfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 2em 1em 2em;    
    flex-wrap: wrap;
}

.gameContainer, .fanartContainer, .musicContainer, .heyMisterContainer, .fumoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0px;
}

.gameImage, .fanartImage, .musicVideo, .heyMisterImage, .fumoImage {
    width: 12em;
    height: 14em;
    object-fit: cover;
    border: 0.3em solid #ffffff;
    border-radius: 1.5em;
    box-shadow: 0 0 0.5em rgb(255, 255, 255);
    transition: 0.3s;
    margin: -0.5em -1em -1em -1em;
}

.gameImage:hover, .fanartImage:hover, .musicVideo:hover, .heyMisterImage:hover, .fumoImage:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1.5em rgb(26, 172, 128);
}

.link {
    margin: 1em 2em 0 2em;
    border-radius: 1.5em;
}

.gameSubtext, .fanartSubtext, .musicSubtext, .heyMisterSubtext, .fumoSubtext {
    text-align: center;
    color: white;
    font-size: 1.7em;
    margin: 1em 0 1em 0;
    font-family: "lunatic";
}

.stuff {
    font-style: italic;
}

@media (max-width: 1000px) {
    .layer1Bg {
        flex-direction: column;
    }
    .layer1Left {
        margin: 4em auto 0 auto;
        width: 60vw;
    }
    .layer1Image {
        width: 65vw;
        box-shadow: 0em 0em 1em rgb(182, 182, 182);
    }
}

@font-face {
    font-family: "izayoi";
    src: url(resources/izayoiMonospaced.ttf);
}
@font-face {
    font-family: "sunflower";
    src: url(resources/sunflowerHighway.otf);
}
@font-face {
    font-family: "lunatic";
    src: url(resources/lunaticSuperstar.otf);
}
@font-face {
    font-family: "hakugyokurou";
    src: url(resources/hakugyokurou.ttf);
}