html {
    margin: 0;
    min-height: 100%;
}

body {
    margin: 0;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    filter: brightness(1.2);
    z-index: -2;
}

.headerBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    position: fixed;
    top: 0;
    z-index: 9;
}

.leftBarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 16em;
}

.logoContainer {
    margin: 0.7em 0 0.7em 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 8.8em;
    text-decoration: none;

}

.logoHakurei {
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
    width: 5.2em;
    letter-spacing: 0.1em;
    font-family: "melancholy";
    
}

.logoImageContainer {
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}

.logoImage {
    width: 2em;
}

#audioController {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 100%;
    margin: 0 1em 0 2em;
}

#audioController:hover {
    filter: brightness(0.8);
}

.sourcesContainer {
    color: white;
    position: absolute;
    left: 18em;
}

.link {
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 1.3em;
    border: 3px solid;
    border-radius: 1em;
    position: relative;
    font-family: "izayoi";
    animation: colorChange 0.75s infinite;
    animation-direction: alternate;
}


.link:hover {
    background: white;
}
.dropdownContent {
    position: absolute;
    left: -18em;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0.75rem;
    border-radius: 0.25rem;
    display: none;
    flex-direction: column;
    width: 30em;
    text-align: center;
    color: white;
}

.aboutCopyright {
    font-size: 1.2em;
    color: rgb(255, 139, 139);
}

.sourcesLink {
    position: relative;
    color: rgb(98, 148, 255);
    word-wrap: break-word;
}

.dm {
    font-size: 1.2em;
    color: rgb(211, 247, 164);
}

.rightBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightBarStuff {
    position: relative;
    color: white;
    width: 27em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2.5vw;
}

.separator {
    width: 2.5em;
    height: 2.5em;
    filter: hue-rotate(140deg);
}

.about, .characters, .music, .contact {
    font-size: 1.1em;
    text-decoration: none;
    color:rgb(221, 221, 221);
    font-family: "izayoi";
    position: relative;
    padding: 0 6px;
}

.about:after, .characters:after, .music:after, .contact:after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, rgb(0, 217, 255), rgb(0, 4, 255));
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

.about:hover:after, .characters:hover:after, .music:hover:after, .contact:hover:after {
    width: 100%;
}

.about:hover, .characters:hover, .music:hover, .contact:hover {
    text-shadow: 0 0 5px rgb(59, 210, 230), 0 0 12px rgb(59, 210, 230), 0 0 20px rgb(59, 210, 230);
    color: white;
}

.rightBarStuff.show {
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 4;
    padding: 1.5em 0;
    top: 3.4em;
    width: 10em;
    right: -0.42em;
    background: rgba(0, 0, 0, 0.9);
}

.menuHamburger {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    right: 2vw;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}


.menuHamburgerBtn {
    width: 25px;
    height: 2.5px;
    background: #fff;
    border-radius: 2px;
    transition: all .25s ease-in-out;
}

.menuHamburgerBtn::before, .menuHamburgerBtn::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2.5px;
    background: #fff;
    border-radius: 2px;
    transition: all .25s ease-in-out;
}

.menuHamburgerBtn::before {
    transform: translateY(-10px);
}

.menuHamburgerBtn::after {
    transform: translateY(10px);
}

.menuHamburger.open .menuHamburgerBtn {
    transform: translateX(-50px);
    background: transparent;
}

.menuHamburger.open .menuHamburgerBtn:before {
    transform: rotate(45deg) translate(35px, -35px);

}

.menuHamburger.open .menuHamburgerBtn:after {
    transform: rotate(-45deg) translate(35px, 35px);
    
}

.layer1 {
    position: relative;
}

.layer1BgSources {
    font-size: 0.9em;
    position: absolute;
    bottom: -19em;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    padding: 7px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.layer1BgSource1 {
    color: white;

}
.layer1BgSource2 {
    color: white;
}


.layer1Container {
    width: 85%;
    height: 100%;
    border-radius: 1.5em;
    margin: 9em auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 2em rgb(69, 69, 69);
}

.layer1Left {
    color: white;
    margin: 3em 2em 3em 5em;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.greetings {
    font-size: 2.2em;
    text-shadow: 0 0 0.8em rgb(255, 255, 255);
    text-align: center;
    font-family: "kawashiro";

}

.description {
    margin-top: 1em;
    font-size: 1.1em;
    line-height: 1.4em;
    text-align: justify;
}

.donateNowContainer {
    margin-top: 3em;
}

.donateNow {
    color: white;
    border: 0.2em solid white;
    border-radius: 2em;
    width: 10em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 1.2em;
    text-decoration: none;
    background-image: linear-gradient(rgba(250, 0, 0, 0.5), rgba(107, 39, 0, 0.5));
    transition: 0.3s;
    font-family: "kawashiro";
}

.donateNow:hover {
    transform: translateY(-3%);
    background: linear-gradient(rgba(250, 0, 0, 0.7), rgba(107, 39, 0, 0.7));
    box-shadow: 0 0 0.6em white;
    
}

.layer1Right {
    width: 50vw;
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layer1Image {
    width: 35vw;
    
}

.layer1Caption {
    color: white;
    margin-top: 0.5em;
    font-size: 1.1em;
}

.layer1Source {
    color: white;
}

.layer2Bg {
    background-image: linear-gradient(rgb(105, 14, 14),rgb(56, 9, 9)); 
    margin-top: 18em;
}

.layer2Content {
    padding-top: 1em;
}

.layer2Heading {
    font-size: 2em;
    text-align: center;
    color: white;
    margin: 0.5em 1em 1.5em 1em;
    font-family: "kamishirasawa";

}

.layer2InfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 2.5em;    
    flex-wrap: wrap;
}

.gameContainer, .fanartContainer, .musicContainer, .heyMisterContainer, .fumoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0px;
}

.gameImage, .fanartImage, .musicVideo, .heyMisterImage, .fumoImage {
    width: 12em;
    height: 14em;
    object-fit: cover;
    border: 0.3em solid rgb(255, 255, 255);
    border-radius: 1.5em;
    box-shadow: 0 10px 30px black;
    transition: 0.3s;
    margin: -0.5em -1em -1em -1em;
}

.gameImage:hover, .fanartImage:hover, .musicVideo:hover, .heyMisterImage:hover, .fumoImage:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(2, 173, 164);
}

.fanartSource {
    color: white;
    text-align: center;
    font-size: 0.8em;
    margin-top: -2em;
}

.linkI {
    margin: 1em 2em 0 2em;
    border-radius: 1.5em;
}

.gameSubtext, .fanartSubtext, .musicSubtext, .heyMisterSubtext, .fumoSubtext {
    text-align: center;
    color: white;
    font-size: 1.7em;
    margin: 1em 0 1em 0;
    font-family: "lunatic";
    z-index: 2;
}

.stuff {
    font-style: italic;
}

.layer3 {
    background-image: url(resources/mokou.jpg);
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(1.1);
}

.layer3BgSource {
    background: black;
    border-radius: 1em;
    position: absolute;
    padding: 7px;
    color: white;
    display: block;
    bottom: 5px;
}

.layer3Text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 1em;
    text-shadow: 0 0 1em black, 0 0 2em black;
    font-family: "hakugyokurou";
    letter-spacing: 0.1em;
    margin: 11em 0;
}

.layer3Quote {
    font-size: 3em;
    text-align: center;
    font-style: italic;
}
.layer3QuoteFrom {
    text-align: center;
    margin-top: 2em;
    font-size: 2em;
}

.layer4Bg {
    background-image: linear-gradient(rgb(105, 14, 14),rgb(56, 9, 9));    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5em 0;
}

.layer4Content {
    background:rgb(32, 32, 32);
    width: 60em;
    padding: 2em 0;
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 2em;

}

.layer4Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0 2em 0 4em;
    line-height: 1.3em;
}

.layer4TextHeading {
    font-size: 1.1em;
    font-family: "sunflower";
    font-weight: bold;
}

.layer4TextSubtext {
    margin-top: 3px;
}


.layer4ContactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5em 0 3em;
}

.layer4Contact {
    color: white;
    border: 0.15em solid white;
    background-image: linear-gradient(rgba(0, 171, 194, 0.5), rgba(1, 68, 68, 0.5));
    border-radius: 0.4em;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    font-family: "kawashiro";
}

.layer4Contact:hover {
    background-image: linear-gradient(rgba(0, 171, 194, 0.7), rgba(1, 68, 68, 0.7));
}

.footerLayerBg {
    background: rgb(19, 25, 41);
    padding: 1.25em 0;
    box-shadow: 0 0 1em rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}  

.footerLayerAuthor {
    color: white;
    text-align: center;
    font-size: 0.8em;
    margin-top: 0.5em;
    font-family: "izayoi";
}

@media (max-width: 1100px) {
    .layer1Container {
        flex-direction: column;
    }
    .layer1Left {
        margin: 4em auto 0 auto;
        width: 65vw;
    }
    .layer1Right {
        margin-top: 4em;
    }
    .layer1Image {
        width: 60vw;
    }
    .layer1Caption {
        font-size: 2vw;
        
    }
}

@media (max-width: 940px) {
    .layer4Content {
        flex-direction: column;
    }
    .layer4TextHeading {
        text-align: center;
    }
    .layer4ContactContainer {
        margin: 1em auto 0 auto;
    }
    .layer4Text {
        align-items: center;
        padding: 0;
        margin: 0 1em;
    }
    .layer4TextSubtext {
        text-align: center;
    }
}

@media (max-width: 860px) {
    .rightBarStuff {
        display: none;
    }
    .menuHamburger {
        display: flex;
    }
    .headerBar {
        width: 100vw;
    }
    .layer1Caption, .layer1Source {
        font-size: 0.9em;
        text-align: center;
    }
    .rightBarContainer {
        display: flex;
        justify-content: flex-end;
        margin-right: 7vw;
    }
    .layer1Image {
        width: 70vw;
    }
}

@media (min-width: 861px) {
    .rightBarStuff {
        position: relative;
        color: white;
        width: 27em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 2.6vw;
    }
    .rightBarStuff.show {
        display: flex;
        position: relative;
        flex-direction: row;
        z-index: 4;
        height: 0em;
        margin-top: -6.6em;
        width: 27em;
        background: transparent;
    }
}
@media (max-width: 500px) {
    #audioController {
        display: none;
    }
    .sourcesContainer {
        top: 3.5em;
        left: 0
    }
    .dropdownContent {
        left: 0;
        width: 17em;
    }
    .aboutCopyright {
        display: none;
    }
    .dm {
        font-size: 0.8em;
    }
    .sourceC, .sourcesLink {
        font-size: 0.75em;
    }
}

@keyframes colorChange {
    0% {
        background: rgb(255, 109, 109);
    }
    100% {
        background: rgb(143, 0, 55);
    }
}

@font-face {
    font-family: "izayoi";
    src: url(resources/izayoiMonospaced.ttf);
}
@font-face {
    font-family: "sunflower";
    src: url(resources/sunflowerHighway.otf);
}
@font-face {
    font-family: "lunatic";
    src: url(resources/lunaticSuperstar.otf);
}
@font-face {
    font-family: "hakugyokurou";
    src: url(resources/hakugyokurou.ttf);
}
@font-face {
    font-family: "melancholy";
    src: url(resources/melancholy.otf);
}
@font-face {
    font-family: "logoPixies";
    src: url(resources/logoPixies.ttf);
}
@font-face {
    font-family: "consolate";
    src: url(resources/consolateElf.ttf);
}
@font-face {
    font-family: "kawashiro";
    src: url(resources/kawashiroGothic.ttf);
}
@font-face {
    font-family: "kamishirasawa";
    src: url(resources/kamishirasawaSans.ttf);
}
@font-face {
    font-family: "agathens";
    src: url(resources/agathensChrisQ.ttf);
}
@font-face {
    font-family: "lotusCoder";
    src: url(resources/lotusCoder.ttf);
}
@font-face {
    font-family: "asakura";
    src: url(resources/asakuraSlab.ttf);
}
@font-face {
    font-family: "shameimaru";
    src: url(resources/shameimaruSansAlternative.ttf);
}

.updateContainer {
    margin-top: 10em;
    text-align: center;
}
.h {
    font-size: 2em;
    margin-bottom: 1em;
}